<div class="card flex justify-content-center">
    <p-accordion [activeIndex]="0">
        <p-accordionTab header="Mediciones">
            <h3><ul><b>💠 Cronograma</b></ul></h3>
            <h3><ul><b>💠 Seleccion de Puntos</b></ul></h3>
            <h3><ul><b>💠 Tabla 1 </b></ul></h3>
            <h3><ul><b>💠 Carga Actas </b></ul></h3>
            <h3><ul><b>💠  Análisis Tabla 2 </b></ul></h3>
            <h3><ul><b>💠 Tabla 3</b> </ul></h3> 
            <h3><ul><b>💠 Comparar Resultados</b></ul></h3>
            <h3><ul><b>💠 Historial de Puntos</b></ul></h3>

        </p-accordionTab>

                    <!-- <h3><ul><b></b></ul></h3>
            <h3><ul><b></b></ul></h3> -->