<mat-toolbar>
  <span class="title-calidad">
    <FONT SIZE="6">Sistema de Calidad</FONT>
  </span>
</mat-toolbar>
<mat-toolbar>

  
  <p>
  <h1>&nbsp;<button mat-stroked-button color="primary">Niv. Tensión</button></h1>
  <p>&nbsp;
  <h1><button mat-stroked-button color="primary">Perturbaciones</button></h1>
  <p>
  <h1>&nbsp;<button mat-stroked-button color="primary">Actualiza BDD</button></h1>
  <p>
    <h1>&nbsp;<button mat-stroked-button color="primary">G. Aislada</button></h1>
  <p>
    <h1>&nbsp;<button (click)="navegar()" mat-stroked-button color="primary">Cronograma</button></h1>
  
    <!--  <button (click)="navegar()" mat-raised-button style="height: 50px; width: 100px;">Ir a Login</button> -->

  <!-- <span>My App</span> -->
  <span class="example-spacer"></span>
  <app-sidenav></app-sidenav>
  
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<!-- &nbsp;&nbsp;&nbsp; -->