<!-- <div class="card flex justify-content-center"> -->
<div>
    <p-sidebar [(visible)]="sidebarVisible">
        <h1><ul><b>Niveles de Tensión</b></ul></h1>
        <app-acordeon></app-acordeon>
    </p-sidebar>
    <p-button (click)="sidebarVisible = true" styleClass="p-button-rounded p-button-text">

        <i class="pi pi-spin pi-cog" style="font-size: 2.5rem"></i>
        <!-- <p><h2>Config. Gral</h2>   -->
        
    </p-button>
</div>

<!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </mat-drawer-content>
</mat-drawer-container> -->